<?xml version="1.0"?>
<launch>
  <arg name="name" default="thymio10"/>
  <arg name="world" default="small"/>

  <include file="$(find thymio_course_skeleton)/launch/thymio_gazebo_bringup.launch">
    <arg name="name" value="/$(arg name)"/>
    <arg name="world" value="$(arg world)"/>
  </include>

  <node pkg="ds_builder_automatic" name="ds_builder_automatic_node" type="main.py" output="screen">
    <param name="name" value="/$(arg name)"/>
  </node>
</launch>